* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

header {
    background: linear-gradient(to right, #034e034e, #4d4d4d7e), url(./assets/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 40px;
    min-height: 100vh;
    animation-name: header-fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes header-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    position: fixed;
    /* left: -100%; */
    right: 10%;
    top: 10%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 80%;
    padding: 10px 40px;
    border-radius: 10px;
    animation-name: nav-slide-right;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

@keyframes nav-slide-right {
    from {left: -100%; opacity: 0;}
    to {left: 10%; opacity: 1;}
}

nav .logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 3rem;
    font-family: "Dancing Script", cursive;

}

nav ul {
    display: flex;
    gap: 20px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: ease-in-out .5s;
}
nav ul li span {
    color: white;
    font-size: 18px;
    transition: ease-in-out .5s;
}
/* 
    Pseudo Classes 
        1. :hover
    and 
    
    Pseudo Elements

*/

nav ul li a:hover {
    color: lightgreen;
    font-size: 20px;
}


/* Dropdown Stying */
div.dropdown {
    position: relative; 
    cursor: pointer;
}
div.dropdown:hover .material-symbols-outlined{
    rotate: 180deg;
}
div.dropdown:hover .dropdown-content {
    display: flex;
}


li.dropdown-list-item {
    display: flex;
    align-items: center;
    gap: 2px;
}
div.dropdown-content {
    position: absolute;
    top: 25px;
    left: 5px;
    display: none;
    flex-direction: column;
    background-color: black;
    padding: 20px 0px 0px;
    border-bottom-left-radius: 10px;
    box-shadow: 4px 5px 5px 1px rgba(144, 238, 144, 0.517);
}
div.dropdown-content a {
    color: white;
    text-decoration: none;
    font-size: 16.5px;
    padding-inline: 20px;
    padding-block: 10px;
    transition: ease-in-out .3s;
}
div.dropdown-content a:hover {
    background-color: lightgreen;
    color: black;
    border-bottom-left-radius: 10px;

}


div.hero-section {
    margin-top: 7rem;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.hero-text-wrapper h1 {
    font-size: 4rem;
    color: lightgreen;
    width: 55%;
    line-height: 1.2;
}

div.hero-text-wrapper p {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    width: 50%;
    line-height: 1.5;
}
div.hero-button-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

div.hero-button-wrapper button {
    width: 150px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    background-color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out .3s;
}
div.hero-button-wrapper button:hover {
    background-color: white;
    color: black;
}


div.hero-button-wrapper button:last-child {
    background-color: transparent;
    color: white;
}
div.hero-button-wrapper button:last-child:hover {
    background-color: white;
    color: black;
}


/* Ads Section */
section.ads-section {
    padding: 100px 25px;
    
}

div.ads-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

div.ad {
    border: 5px ridge black;
    height: 25rem;
    width: 30rem;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

}

div.ad:hover {
    margin-bottom: 10px;
}
div.ad:hover .ads-text-wrapper {
    opacity: 1;
    transition: ease-in-out .25s;
}

div.ads-bg-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
}

div.ads-item-1 .ads-bg-image {
    background-image: url('./assets/image-grass.jpg');
}

div.ads-item-2 .ads-bg-image {
    background-image: url('./assets/image-room.jpg');
}

div.ads-item-3 .ads-bg-image {
    background-image: url('./assets/image-wood.jpg');
}

div.ads-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    place-items: center;
    text-align: center;
    background-color: #90ee9093;
    padding: 4rem 10px;
    opacity: 0;
}


div.ads-text-wrapper p {
    font: 1.5rem;
    color: #000;
    font-weight: 600;
    line-height: 2;
}

div.ads-text-wrapper button {
    width: 100px;
    padding: 10px 5px;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    background-color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out .3s;
}

div.ads-text-wrapper button:hover {
    background-color: white;
    color: black;
}
/* Ads Section ends */

/* Team Section */
section.team-section {
    padding: 100px 25px;
    background-color: lightgreen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section.team-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: black;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 2px;
}

div.team-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

div.team-item {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;  
}

div.team-item img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
}


